<div class="main-container">

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input style="background-color: rgb(244, 239, 239);" class="input" type="text" placeholder="Filter">
              <span class="icon is-small is-left">
                <img style="padding: 12px;" src="../../../assets/icons8-search.svg">
              </span>
            </p>
          </div>
    </div>

    <div class="notes-list">
      <app-note-card [title]="'cardTitle'" [body]="'bodyText bodyText bodyText'"></app-note-card>
      <app-note-card></app-note-card>
      <app-note-card></app-note-card>
    </div>
</div>