.form-container {

    max-width: 500px;
    margin: auto;

    margin-top: 50px;
}

input, textarea {

    background-color: rgb(246, 243, 243);

    &.ng-invalid.ng-touched {
        border-color: red;
    }
}